@import "../shared/_variables";
@import "normalize.css";

*,
*:before,
*:after {
	box-sizing: border-box;
	line-height: $line-height;
}

html {
	font-size: 100%;

	@include respond-to("large") {
		font-size: $font-size-base;
	}
}

body {
	background-color: $color-background;
	color: $color-text;

	font-family: Inter, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	line-height: 1.4;

	max-width: 1280px;
	margin: 0 auto;
	padding: $spacing-base / 2;

	@include respond-to("large") {
		padding: $spacing-base;
	}

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: $spacing-base;
}

.bi {
	display: inline-block;
	vertical-align: -0.125em;
	fill: currentcolor;
	width: 1em;
	height: 1em;
}
